.container {
  position: fixed;
  box-sizing: border-box;
  overflow: hidden;
  padding: 70px 100px 0 0;
  z-index: 999;
  width: 1000px;
  right: 0;
  top: 0;
  height: 100vh;
  background: white;
}
